@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 mt-5 mb-5 col-sm-8 col-md-6">
        <div class="card login-logout-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">
                            Log In
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">
                            Register
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-12 my-4" style="min-height: 380px; display: block;">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                const linkPath = $this.attr('href').toLowerCase();
                
                // Exact path matching for login/register tabs
                if (currentPage.toLowerCase() === linkPath) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}