html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}



/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}


body {
    background-color: #0100; /* Black background */
    color: #b0c4de; /* Light steel blue text */
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.navbar-brand, .nav-link, .footer {
    color: #1e90ff; /* Dodger blue */
}

.nav-link:hover {
    color: #4682b4; /* Steel blue on hover */
}

/* Ensure grid columns are responsive */
e-grid-column {
    width: 100%; /* Allow columns to fill available space */
}



/* Enable horizontal scrolling for grid on smaller screens */
.ejs-grid {
    overflow-x: auto;
    width: 100%;
    margin-bottom: 1rem;
}

