@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow-lg">
                <div class="card-header bg-dark text-white text-center">
                    Personal Data
                </div>
                <div class="card-body">
                    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
                    <p>
                        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                    </p>
                    <div class="d-flex justify-content-between">
                        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="flex-fill me-3">
                            <button class="btn btn-primary w-100" type="submit">Download</button>
                        </form>
                        <div class="flex-fill">
                            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger w-100">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}